## Ignore build output directories
**/dist/
**/lib/
**/dist*/

## Ignore third party libraries
**/node_modules/
**/*.min.*

## Ignore config files and directories that have generated content
/.husky/
/.trunk/
/.vscode/
/.yarn/
/.pnp.*js

## Ignore dynamic files
CHANGELOG.md
package-lock.json
yarn.lock

## Ignore specialist app files

### Angular
**/*inline-template-*.component.html
